# apify (tripadvisor) settings
API_TOKEN = 
HOTEL_URLS = 
RATING_SET = 
MAX_ITEMS = 
LANGUAGE = 

# GCP BigQuery settings
GCP_PROJECT_ID = 
BQ_DATASET = 
BQ_TABLE = 
BQ_LOCATION = 
GOOGLE_APPLICATION_CREDENTIALS = 